/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
.card{
    border-block-end-color: aliceblue;
    box-shadow: 0 1px 3px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 1em;
    background-color:darksalmon;
    transition: width 2s, height 2s, margin 3s;
  }
  *{
    box-sizing: border-box;
  }
  
  .card:hover{
    width: 100%;
    height: 150px;
    margin: 0 auto;
  }
  
 .x{
   background-color: blueviolet;
   text-align: center;
   
 }  